git+https://github.com/microsoft/protein-sequence-models.git
mlflow
scikit-learn
seaborn
blosum
matplotlib
fair-esm
biotite
tqdm
git+https://github.com/HeliXonProtein/OmegaFold.git
mdanalysis
pdb-tools